.card {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: var(--font-poppins);
}

.subtitle {
  color: #0a1773;
}

.textMetric {
  color: #a7c0cd;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.positive {
  color: #03d56a;
}

.negative {
  color: red;
}
