.page {
  min-height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  font-family: var(--font-poppins);
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.contentPanel {
  display: flex;
  justify-content: start;
  align-items: center;
}

.titleReports {
  font-size: 2rem;
  font-weight: 700;
  color: #111827;
}

.contentReports {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem 0;
}

.titleMetrics {
  font-size: 1.5rem;
  color: #111827;
}

.contentMetrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.contentCharts {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 2rem;
  align-items: stretch;
  margin-bottom: 1rem;
}

.chartBox,
.chartBoxDonut {
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legend {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: flex-start;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.circleGray {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1f2937;
}

.circleBlue {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1d2cff;
}

@media (max-width: 900px) {
  .contentCharts {
    grid-template-columns: 1fr;
  }

  .chartBoxDonut {
    max-width: 300px;
    margin: 0 auto;
  }

  .contentReports {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .container {
    padding-bottom: 4rem;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1000px;
  }
}
