:root {
  --background: #fbfbfc;
  --foreground: #171717;
  /*Fonts Fideliza*/
  --font-main: var(--font-poppins);
  --font-secondary: var(--font-lato);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
