.button {
  width: 100%;
  padding: 13px 18px;
  border-radius: 10px;
  border: none;
  background: #0a1773;
  color: white;
  font-size: 1rem;
  font-family: var(--font-poppins);
  font-weight: 600;
  transition: all 0.25s ease;
  cursor: pointer;
  margin-top: 0.8rem;
}

.button:not(:disabled):hover {
  background: #0a1673d0;
}

.button:disabled {
  background: #0a167385;
  cursor: not-allowed;
}
